@import '../../../styles/colors.scss';

.filter {
  padding: 14px 18px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__param {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }

  &__paramList {
    list-style: none;
    padding-left: 12px;
    font-size: 15px;
    color: $filterItemColor;

    &_active {
      text-shadow: 0 0 0.65px $green, 0 0 0.65px $green;
      color: $green;
    }

    & > li {
      line-height: 40px;
      cursor: pointer;
      transition: text-shadow 0.3s;
      white-space: nowrap;
      text-transform: capitalize;

      &:hover {
        text-shadow: 0 0 0.65px $green, 0 0 0.65px $green;
        color: $green;
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
  }
}
