@import '../../styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__logo {
    width: 150px;
    height: 34px;
  }

  &__paths {
    & > ul {
      display: flex;
      align-items: center;
      gap: 50px;
      list-style-type: none;
      font-size: 16px;

      & > li > a {
        text-decoration: none;
        padding: 25px 0;
        color: inherit;
        cursor: pointer;
        border-bottom: 3px solid transparent;

        &[aria-current='page'] {
          font-weight: bold;
          border-bottom: 3px solid $green;
          color: $green;
        }
      }
    }
  }

  &__headerBtnGroup {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
